body{
  margin: 0;
}

a{
  color: black;
}

.header{
  display: flex;
  position: fixed;
  align-items: center;
  /* align-content: space-between; */
  width: 100%;
  height: 90px;
  /* padding: 0; */
  border-bottom: 1px solid black;
  background-color: white;
  /* flex-flow: row wrap; */
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header div{
  flex-grow: 1;
}

div.logo{
  display: inline-flex;
}

.logo p{
  margin-top: 22px;
  margin-left: 10px;
}

.logo img{
  margin-left: 20px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

.logo{
  padding-left: 10px;
  color: MediumAquamarine;
  /* flex-grow: 1; */
  /* display: inline-block; */
  width: 200px;
}

.container{
  display:flex;
  border-color: black;
  padding-top: 90px;
  align-items: stretch;
  margin-left: 50px;
}

.column1{
  width: 630px;
  padding-top: 30px;
}
.column2{
  width: 300px;
  margin-left: 40px;
  margin-right: 40px;
}
.column3{
  width: 240px;
}
.column1, .column2, .column3{
    border: 1px solid black;
}

.image-content, .lead-story, .story{
  border: 1px solid black;
}

.lead-story{
  display: flex;
}

.image-content{
  display:flex;
}
