body{
  margin: 0;
}

a{
  color: black;
}

.header{
  display: flex;
  position: fixed;
  align-items: center;
  /* align-content: space-between; */
  width: 100%;
  height: 90px;
  /* padding: 0; */
  border-bottom: 1px solid black;
  background-color: white;
  /* flex-flow: row wrap; */
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header div{
  flex-grow: 1;
}

div.logo{
  display: inline-flex;
}

.logo p{
  margin-top: 22px;
  margin-left: 10px;
}

.logo img{
  margin-left: 20px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

.logo{
  padding-left: 10px;
  color: MediumAquamarine;
  /* flex-grow: 1; */
  /* display: inline-block; */
  width: 200px;
}

.container{
  display:flex;
  border: 1px solid black;
  padding-top: 120px;
  align-items: stretch;
  margin-left: 50px;
  margin-right: 50px;
  width: 1232px;
}

.column1{
  width: 630px;
  padding-top: 30px;
}
.column2{
  width: 300px;
  margin-left: 40px;
  margin-right: 40px;
}
.column3{
  width: 240px;
}
.column{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.image-content, .lead-story, .story{
  border: 1px solid black;
}

.lead-story{
  display: flex;
  flex-direction: column;
}

.image-content{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.lead-story .image-content p{
  flex-direction: column;
}

.story img{
  border: 1px solid black;
  flex-direction: column;
}

.lead-story .image-content{
  background-image: url("./resources/img-story-main.png");
  width: 630px;
  margin-top: 0;
}

.fall-cancelled .image-content{
  background-image: url("./resources/img-story-2.png");
}

.pop-culture .image-content{
  background-image: url("./resources/img-story-3.png");
}

.cat-story .image-content{
  background-image: url("./resources/img-story-1.png");
}
